.containter {
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 300px 300px 325px;
  grid-template-rows: 1fr 300px 300px 325px;
  background-image: url('./main.svg');
  background-size: cover;
}
