.lexicon-main {
  padding-top: 60px;
}

.lexicon-containter {
  display: grid;
  background-image: url('./img/background.svg');
  background-size: cover;
  grid-template-columns: 30% 1fr;
  flex-wrap: nowrap;

}

.image-container {
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}

.animal-image {
  width: 100%;
  height: 100%;
  object-position: center center;
  border: 5px solid white;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;

}





.lexicon-description {
  max-width: 600px;
  /* height: 420px; */
  border: 5px solid white;
  border-radius: 0% 0% 10% 10%;
  background-color: whitesmoke;

}

.lexicon-description {
  font-size: 22px;
  text-align: center;

}

.name {
  font-weight: bold;
}

.lexicon-sloth {
  grid-column: 3;
  background-size: cover;
  background-image: url('./img/sloth.png');
  height: 250px;
  width: 200px;
  border-radius: 30% 0% 0% 0%;
  margin-block-start: auto;
  margin-inline-start: auto;

}

@media screen and (max-width: 480px) {

  .animal-selected .lexicon-levy_sloupec {
    display: none;
  }

  .lexicon-main {
    display: none;
  }

  .animal-selected .lexicon-main {
    display: block;
  }

  .lexicon-containter {
    grid-template-columns: 1fr;
  }

}
