html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.2em;
  }
}

.index-sloth {
  position: absolute;
  top: 0;
  right: -0px;
  width: 300px;
  height: 300px;
  background-image: url('./img/sloth.png');
  background-size: cover;
  border-radius: 20%;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./img/background2.jpg');
  background-size: cover;
}

.index-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('./img/frame2.jpg'); */
  border-radius: 20%;
  margin-bottom: 25px;
  background-size: cover;
}

.index-description {
  max-width: 520px;
  max-height: 600px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
  color: rgb(244, 230, 210);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -6em;
}

.button-wrapper {
  display: flex;
  gap: 1em;
}

.index-button_pexeso,
.index-button_lexikon {
  background-color: #e78e1b;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  height: 2em;
  width: 10em;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}