html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.2em;
  }
}

.index-container {

  display: grid;
  grid-template-columns: 1fr 300px 300px 325px;
  grid-template-rows: 1fr 300px 300px 325px;
  background-image: url('./img/main.svg');
  background-size: cover;
}

.index-desktop {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url('./img/frame.svg');
  border-radius: 20%;
  margin-bottom: 25px;
  background-size: cover;
}

.index-description {
  display: grid;
  grid-row: 2/span 2;
  grid-column: 2/span 2;
  max-width: 520px;
  max-height: 600px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
  color: rgb(244, 230, 210);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.index-sloth {
  grid-column-start: 4;
  grid-row: 1;
  width: 325px;
  height: 200px;
  background-image: url('./img/sloth.png');
  background-size: cover;
  border-radius: 20%;
}

.index-button_pexeso {
  grid-column: 2;
  grid-row: 3;
  background-color: #e78e1b;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  height: 2em;
  width: 10em;
  margin-top: 9em;
  margin-left: 4em;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 60px;

}

.index-button_lexikon {
  grid-column: 3;
  grid-row: 3;
  background-color: #e78e1b;
  color: white;
  padding: 10px 60px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  height: 2em;
  width: 10em;
  margin-top: 9em;
  margin-right: 4em;
  text-decoration: none;
  border: none;

}

.index-button_lexikon:hover {
  background-color: #2d5f2b;

}

.index-button_pexeso:hover {
  background-color: #2d5f2b;

}

footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  height: 20px;
}

.index-logo {
  display: inline-block;
  grid-column: 1;
  grid-row: span 2;
  height: 1rem;
}
