

body {
  background-image: url('./img/background.svg');
  background-size: cover;
}

.who-plays {
  font-size: 30px;
  margin-top: 100px;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(85, 38, 38);
}

.pexeso-split {
  display: grid;
  max-height: 200px;
  grid-rows: 200px;
  grid-column: 200px 200px;

  background-image: url('./img/frame.jpg');
  color: blanchedalmond;
  grid-gap: 10px;

}

.pexeso-container {
  display: grid;
  /*max-height: 100vh;*/
  /*margin-top: 0 !important;*/

  background-image: url('./img/background.jpg');
  background-size: cover;
  grid-template-columns: 22% 1fr;
  flex-wrap: nowrap;
  padding-top: 40px;
  /*padding-bottom: 40px;*/


}

.pexeso-game {
  display: grid;
  gap: 10px;
  max-width: 800px;
}

.game4 {
  grid-template-columns: repeat(4, 1fr);
}

.game6 {
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

.pexeso-image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.pexeso-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  margin-top: 0 !important;
}
