@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



html {
  font-family:cursive;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}





